$color-lighter: #f1f1f1;
$color-light: #dddfe0;
$color-dark: #2d3642;
$color-darker: #0e0e0e;

$color-primary-shadow: #f5f6ff;
$color-primary-lighter: #7a85c9;
$color-primary-light: #515ead;
$color-primary: #37459d;
$color-primary-dark: #202e87;
$color-primary-darker: #111e6c;

$color-success-shadow: #f5fff6;
$color-success: #49BF30;
$color-success-darker: #1B8305;

$color-danger-shadow: #fff5f6;
$color-danger: #E5433A;
$color-danger-darker: #9D0E06;
