.app-header {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #fff;
  border-bottom: 3px solid $color-primary;

  a:hover {
    color: $color-primary-darker;
    text-decoration: none;
  }
}

.app-notifications {
  margin-top: -20px;
  margin-bottom: 20px;
}
