.btn {
  display: inline-block;
  margin-right: 5px;
  padding: 5px 10px;

  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}

.btn-primary {
  color: #fff;

  background-color: $color-primary;

  &:hover {
    color: #fff;
    background-color: $color-primary-dark;
  }
  &:active {
    background-color: $color-primary-light;
  }
}
