.thoughts-navigation {
  margin-bottom: 20px;

  a {
    margin-right: 5px;
    padding: 10px;

    color: #fff;

    border: 1px solid transparent;
    border-radius: 4px;

    &:hover {
      color: $color-lighter;
    }
  }
  a.active {
    border-color: #fff;

    &:hover {
      text-decoration: none;
    }
  }
}

.thoughts-placeholder {
  padding-top: 20px;

  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

.thought {
  margin-bottom: 30px;
  padding: 20px;

  color: $color-lighter;

  background-color: $color-dark;
  border-radius: 5px;
  box-shadow: 0 1px 2px $color-dark;
}

.thought-content {
  margin-bottom: 20px;

  font-size: 1.1rem;
  white-space: pre-wrap;
}
.thought-created-at {
  color: $color-light;
}
