<div class="thoughts-navigation">
  <%= link_to 'Journal', diary_path, class: action_name == 'diary' ? 'active' : '' %>
  <%= link_to 'Explorer', explore_path, class: action_name == 'explore' ? 'active' : '' %>
</div>
